/* ==================== Catering Cards ==================== */

.card-body-catering {
    display: flex;
    flex-direction: column;
    height: 100%; /* Esto asegura que la carta se expanda para ocupar el espacio disponible */
}

.card-body-catering {
    flex: 1; /* Ya lo estás utilizando, permite que el cuerpo de la carta se expanda */
    display: flex;
    flex-direction: column; /* Esto asegura que el contenido interno también use flexbox */
}

.card-text-catering {
    flex-grow: 1; /* Esto permite que la descripción se expanda para ocupar espacio disponible */
    /* Puedes agregar una altura mínima si es necesario */
}

/* Esta es una regla opcional en caso de que quieras asegurar una altura mínima para las descripciones */
.card-text-catering {
    min-height: 100px; /* Ajusta este valor según sea necesario */
}

/* ==================== Nortification ==================== */

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 123, 255, 0.75);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1000;
}

.notification.show {
    opacity: 1;
}

.fade-in {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* ==================== Dishes Description ==================== */

.section-title {
    font-size: 36px; /* Ajusta el tamaño de la fuente según necesites */
    font-weight: bold; /* Hace que el texto sea más grueso */
    color: #fb8500; /* Cambia el color según tu esquema de colores */
    margin-bottom: 20px; /* Añade espacio debajo del título */
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1); /* Opcional: añade una sombra suave al texto para destacarlo */
}
  
.section-description {
    font-size: 20px; /* Ajusta el tamaño de la fuente según necesites */
    color: #343a40; /* Cambia el color según tu esquema de colores, aquí un gris oscuro */
    margin-bottom: 40px; /* Añade más espacio debajo de la descripción para separarla de los platillos */
}
  
/* ==================== Carousel ==================== */
.carousel-caption h5 {
    font-size: 48px; /* Aumenta el tamaño del título */
    font-weight: 700; /* Hace el título más grueso */
    color: #ffffff; /* Asegúrate de que el texto sea legible sobre la imagen */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Añade una sombra para mejorar la legibilidad */
}
.carousel-caption p {
    font-size: 24px; /* Aumenta el tamaño del texto del párrafo */
    font-weight: 500; /* Hace el texto del párrafo un poco más grueso */
    color: #ffffff; /* Asegúrate de que el texto sea legible sobre la imagen */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Añade una sombra para mejorar la legibilidad */
}